header {
   display: flex;
   align-items: center;
   width: 100%;
   height: 30px;
   background-color: #222244;
   font-size: 0.825rem;
}

header .title {
   padding-left: 10.5%;
   width: 70%;
   text-align: left;
   cursor: default;
}

nav {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 30%;
   height: 100%;
   z-index: 1;
}

nav .icon {
   appearance: none;
   padding: 0 1.2rem;
   width: 20px;
   height: 20px;
   background-image: url('/assets/favicon.svg');
   background-size: 20px;
   background-repeat: no-repeat;
   background-position: top center;
}

nav ul {
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;
   height: 100%;
}

nav ul > li {
   display: flex;
   align-items: center;
   padding: 0 0.6rem;
   height: 100%;
   cursor: pointer;
}

nav ul > li:hover {
   background-color: #30305f;
}

nav ul > li:focus {
   background-color: #30305f;
   outline: 1px solid #fff8;
}

@media screen and (max-width: 700px){
   header {
      justify-content: space-between;
   }

   header .title {
      margin-right: 10%;
      padding-left: 0;
      text-align: center;
   }
}

@media screen and (max-width: 550px){
   header {
      justify-content: flex-start;
   }

   header .title {
      margin-right: 0;
   }

   nav {
      width: 15%;
   }

   nav ul {
      position: absolute;
      top: 30px;
      left: 0.6rem;
      flex-direction: column;
      padding: 5px 2px;
      width: 0;
      height: 15%;
      background-color: #222244;
      opacity: 0;
      pointer-events: none;
   }

   nav ul > li {
      padding: 0.4rem 1.5rem;
      width: 100%;
      height: auto;
   }

   nav .icon:checked ~ ul {
      width: 40%;
      opacity: 1;
      pointer-events: all;
   }
}