.sandbox {
   display: grid;
   grid-template-rows: 1fr 6px 1fr;
   height: calc(100vh - 30px);
   overflow-y: hidden;
}

.horizontal {
   display: grid;
   grid-template-columns: 1fr 6px 1fr;
   min-height: 0px;
}

.horizontal div {
   min-width: 0px;
   min-height: 0px;
}

.splitter {
   background-color: #282848;
}

.splitter:hover {
   background-color: #212141;
}

.splitter.row {
   cursor: row-resize;
}

.splitter.col {
   cursor: col-resize;
}

textarea {
   padding: 0.5rem 1rem;
   min-width: 0px;
   width: 100%;
   height: 100%;
   color: #eee;
   border: none;
   font-size: 1.05rem;
   line-height: 1.43;
   resize: none;
   background-color: #2d2b55;
   background-size: 2.2rem;
   background-repeat: no-repeat;
   background-position: calc(100% - 1rem) calc(100% - 1rem);
}

textarea:focus {
   box-shadow: inset 0px 0px 5px #5d5b88;
   outline: none;
}

#sandbox-html {
   background-image: url('/assets/HTML.svg');
}

#sandbox-css {
   background-image: url('/assets/CSS.svg');
}

#sandbox-js {
   background-image: url('/assets/JS.svg');
}

iframe {
   width: 100%;
   height: 100%;
   border: none;
   background-color: #fff;
}

@media screen and (max-width: 550px){
   .sandbox {
      overflow-y: auto;
   }

   .horizontal {
      grid-template-columns: none;
      grid-template-rows: 1fr 6px 1fr;
   }

   .splitter.col {
      cursor: row-resize;
   }
}