.sandbox {
   display: grid;
   grid-template-rows: 49.7% 6px 49.7%;
   height: calc(100vh - 30px);
   overflow-y: hidden;
}

.horizontal {
   display: grid;
   min-height: 0px;
}

.horizontal div {
   min-width: 0px;
   min-height: 0px;
}

.splitter {
   background-color: #282848;
}

.splitter:hover {
   background-color: #212141;
}

.splitter.row {
   cursor: row-resize;
}

.splitter.col {
   cursor: col-resize;
}

.editor {
   position: relative;
   width: 100%;
   height: 100%;
}

.editor::after {
   content: '';
   position: absolute;
   bottom: 0.6rem;
   right: 0.8rem;
   width: 2.2rem;
   height: 2.2rem;
   background-repeat: no-repeat;
}

.editor:focus {
   box-shadow: inset 0px 0px 5px #5d5b88;
   outline: none;
}

#sandbox-html::after {
   background-image: url('/assets/HTML.svg');
}

#sandbox-css::after {
   background-image: url('/assets/CSS.svg');
}

#sandbox-js::after {
   background-image: url('/assets/JS.svg');
}

iframe {
   width: 100%;
   height: 100%;
   border: none;
   background-color: #fff;
}

@media screen and (max-width: 550px){
   .sandbox {
      overflow-y: auto;
   }

   .splitter.col {
      cursor: row-resize;
   }
}