/* HEADER */
@import url('/css/header.css');

/* SANDBOX */
@import url('/css/sandbox.css');

*, *::before, *::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
}

#app {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: #eee;
   background-color: #282848;
   font-family: monospace;
}